<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ABPUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ABPUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ABPUtils.Properties.Settings>
            <setting name="ChinaList" serializeAs="String">
                <value>chinalist/chinalist-miscellaneous.txt
chinalist/chinalist-adservers.txt
chinalist/chinalist-generic.txt
chinalist/chinalist-hide.txt
chinalist/chinalist-specific.txt
chinalist/chinalist-temp.txt
chinalist/chinalist-white.txt
chinalist-anti-social.txt
chinalist-privacy.txt</value>
            </setting>
            <setting name="ChinaListAntiSocial" serializeAs="String">
                <value>chinalist/chinalist-anti-social.txt</value>
            </setting>
            <setting name="ChinaListPrivacy" serializeAs="String">
                <value>chinalist/chinalist-privacy.txt</value>
            </setting>
            <setting name="EasylistUrl" serializeAs="String">
                <value>https://easylist-downloads.adblockplus.org/easylist.txt</value>
            </setting>
            <setting name="EasyprivacyUrl" serializeAs="String">
                <value>https://easylist-downloads.adblockplus.org/easyprivacy.txt</value>
            </setting>
            <setting name="PatchFile" serializeAs="String">
                <value>patch.xml</value>
            </setting>
            <setting name="ChinaListLazy" serializeAs="String">
                <value>ChinaList,ChinaListAntiSocial,ChinaListPrivacy</value>
            </setting>
            <setting name="EasyPrivacyFlag" serializeAs="String">
                <value>easylist:easyprivacy/easyprivacy_general.txt
easylist:easyprivacy/easyprivacy_trackingservers_international.txt
easylist:easyprivacy/easyprivacy_thirdparty_international.txt
easylist:easyprivacy/easyprivacy_specific_international.txt
easylist:easyprivacy/easyprivacy_whitelist_international.txt</value>
            </setting>
            <setting name="ABPVersion" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="EasyListFlag" serializeAs="String">
                <value>easylist:easylist/easylist_general_block.txt
easylist:easylist/easylist_general_block_dimensions.txt
easylist:easylist/easylist_general_block_popup.txt</value>
            </setting>
            <setting name="ChinaListLazyHeader" serializeAs="String">
                <value>[Adblock Plus {0}]
!  Title: Gythialy's List
!  Last Modified:  
!
!  This is a private list, 
!  will not provide any technical support
!  CC-BY-SA 3.0+ Licensed
!
!  coding: utf-8, expires: 5 days
!
</value>
            </setting>
            <setting name="ChinaListHeader" serializeAs="String">
                <value>[Adblock Plus {0}]
!  Title: ChinaList Lite
!  Adblock Plus List with Main Focus on Chinese Sites.
!  Last Modified:  
!  Homepage: http://chinalist.github.io/
!
!  As a supplement for EasyList, ChinaList won't provide the filters
!  which in EasyList already.Please subscribe EasyList also.
!  If you need help or have any question,
!  please visit: https://github.com/chinalist/chinalist
!  Licence: https://github.com/chinalist/chinalist/blob/master/LICENSE
!
!  coding: utf-8, expires: 5 days
!
</value>
            </setting>
            <setting name="ChinaListAntiSocialHeader" serializeAs="String">
                <value>[Adblock Plus {0}]
!  Title: ChinaList Anti Social
!  Adblock Plus List with Main Focus on Chinese Sites.
!  Last Modified:  
!  Homepage: http://chinalist.github.io/
!
!  This is an unofficial version, 
!  does not provide any technical support
!
!  please visit: https://github.com/chinalist/chinalist
!  Licence: https://github.com/chinalist/chinalist/blob/master/LICENSE
!
!  coding: utf-8, expires: 5 days
!
</value>
            </setting>
            <setting name="ChinaListPrivacyHeader" serializeAs="String">
                <value>[Adblock Plus {0}]
!  Title: ChinaList Privacy
!  Adblock Plus List with Main Focus on Chinese Sites.
!  Last Modified:  
!  Homepage: http://chinalist.github.io/
!
!  As a supplement for EasyPrivacy,ChinaList won't provide the filters
!  which in EasyPrivacy already.Please subscribe EasyPrivacy also.
!  If you need help or have any question,
!  please visit: https://github.com/chinalist/chinalist
!  Licence: https://github.com/chinalist/chinalist/blob/master/LICENSE
!
!  coding: utf-8, expires: 5 days
!
</value>
            </setting>
            <setting name="EasyListChinaUrl" serializeAs="String">
                <value>https://easylist-downloads.adblockplus.org/easylistchina.txt</value>
            </setting>
        </ABPUtils.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ABPUtils.Properties.Settings>
            <setting name="HelpInfo" serializeAs="String">
                <value>Copyright (C) 2008 - {0} Adblock Plus ChinaList Project
This is free software. You may redistribute copies of it under the terms of
the GNU LGPL License &lt;http://www.gnu.org/copyleft/lesser.html&gt;.
Usage: ABPUtils.exe -n -d=google.com -dns=8.8.8.8
       ABPUtils.exe -v -i=adblock.txt
       ABPUtils.exe -u -i=adblock.txt
       ABPUtils.exe -m -i=adblock.txt -patch -o=adblock-lazy.txt
       ABPUtils.exe -i=adblock.txt -conf

  version        Show ABPUtils version.

  c, check       Check the domains in the specific input file.

  cl             Merge as ChinaList, otherwise as ChinaList Lazy.

  conf           Clean patch.xml if exist.

  f, fetch       fetch the specific domain filters.

  d, domain      The domain need to be checked (required).

  m, merge       Merge the specific input file with Part of EasyList and
                 EasyPrivacy.

  b, build       Build the rules from the specific input file to a ABP subscribable list.

  n, nsookup     Show the ns server of the specific domain.

  u, update      Update and validate the checksum of the specific input file.

  v, validate    Validate the checksum of the specific input file.

  i, input       Input file with filters to process (required).

  o, output      Output file with processed filters.

  patch          Use the patch.xml.

  p, proxy       Proxy server used when download the lastest EasyList and EasyPrivacy files (optional).

  dns            DNS server (optional).

  h, help        Dispaly this help screen.</value>
            </setting>
        </ABPUtils.Properties.Settings>
    </applicationSettings>
</configuration>